/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style  or utilities*/
body{
    font-family: 'Poppins', sans-serif;
    /* background-color: #F3F1FF; */
}

header{
    background-color: #562EFF;
    Height :94px;
    width: 100%;
}
main{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 30px;
    
}

.top-players{
    margin-bottom: 30px;
}

.container{
    background-color: #ffffff;
    width: 1000px;
    padding: 33px ;
    border-radius: 5px;
}

/* top players style */
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 0px;
}
.players{
    display: grid;
    grid-template-columns:repeat( 3,1fr);
    grid-column-gap:30px;
}
.player{
    /* display: flex; */
    /* align-items: center; */
}
.player img{
    height: 256px;
    width: 300px;
}

/* .player-name {
    margin-left: 16px;
    font-size: 18px;
} */


/*----------------
 top blogs style 
-----------------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap:16px;
}
.blog{
    display: flex;
}
.blog .thumnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}

.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    color: #562EFF; 
    text-decoration: none;
    font-size: 16px;
}

/*----------------
   Courses style 
-----------------*/
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.course .course-banner img{
    width: 224px;
    height: 104px;
}

.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-author{
    color: #ED6B4F;
}
   

.fa-star{
   font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}

.fa-star.empty{
    color: #AEAEAE;
}

.rating-amount{
    margin-left: 5px;
    color: grey;
}

.course-duration{
    width: 100px;
    height: 35px;
    border-radius: 15px;
    background-color: #FFE4E8;
    margin-right: 20px;
}
.fa-clock{
    color: #FF4A60;
}

.hour{
    color: #FF4A60;
}

.fa-clock,.hour{
    margin-top: 10px;
    margin-left: 7px;
}

/*---------------- 
   media queries 
----------------*/
@media only screen and (max-width:688px) {
    
    .container{
        width: 100%;
    }
    .players,.blogs,.courses{
        grid-template-columns: repeat(1,1fr);
    }
    .player,.blog,.course{
        flex-direction: column;
    }
}

/* end */


/* table device */
@media only screen and (min-width:688px) and (max-width:992px) {
    .container{
        width: 100%;
    }
    .players,.courses{
        grid-template-columns: repeat(2,1fr);
    }
    .blogs{
        grid-template-columns: repeat(1,1fr);
    }
    
}


/* nav bar */
nav{
    display: flex;
    justify-content: space-between;
}

nav span a{
    font-size: 1.5em;
    text-decoration: none;
    margin-right: 15px;
    color: white;
}

nav span img{
    height: 56px;
    width: 56px;
}

.nav-first{
   margin-left: 370px;
   margin-top: 30px;
}

.nav-second {
    margin-left: 498px;
    margin-top: 30px;
}

.nav-third {
    margin-right: 370px;
    margin-top: 20px;
}
